# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# 作業1
* 請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

# 作業2
* 觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼?

In [ ]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸

In [3]:
# 對照組 : 標籤編碼 + 羅吉斯迴歸
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_temp[:train_num]
# estimator = LinearRegression()
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.780004837244799
time : 0.05615091323852539 sec

In [4]:
# 均值編碼 + 邏輯斯迴歸

In [5]:
pd.concat([df[:train_num], train_Y], axis=1)[:20]

,Name,Sex,Ticket,Cabin,Embarked,Survived
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S,0
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C,1
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S,1
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S,1
4,"Allen, Mr. William Henry",male,373450,None,S,0
5,"Moran, Mr. James",male,330877,None,Q,0
6,"McCarthy, Mr. Timothy J",male,17463,E46,S,0
7,"Palsson, Master. Gosta Leonard",male,349909,None,S,0
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,347742,None,S,1
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,237736,None,C,1
10,"Sandstrom, Miss. Marguerite Rut",female,PP 9549,G6,S,1
11,"Bonnell, Miss. Elizabeth",female,113783,C103,S,1
12,"Saundercock, Mr. William Henry",male,A/5. 2151,None,S,0
13,"Andersson, Mr. Anders Johan",male,347082,None,S,0
14,"Vestrom, Miss. Hulda Amanda Adolfina",female,350406,None,S,0
15,"Hewlett, Mrs. (Mary D Kingcome)",female,248706,None,S,1
16,"Rice, Master. Eugene",male,382652,None,Q,0
17,"Williams, Mr. Charles Eugene",male,244373,None,S,1
18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,345763,None,S,0
19,"Masselmani, Mrs. Fatima",female,2649,None,C,1

In [6]:
from sklearn.ensemble import GradientBoostingRegressor
# 均值編碼 + 梯度提升樹
data = pd.concat([df[:train_num], train_Y], axis=1)
for c in df.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)

data[:20]

C:\ProgramData\Anaconda3\envs\venv36\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

    Survived  Name_mean  Sex_mean  Ticket_mean  Cabin_mean  Embarked_mean
0          0          0  0.188908          0.0    0.299854       0.336957
1          1          1  0.742038          1.0    1.000000       0.553571
2          1          1  0.742038          1.0    0.299854       0.336957
3          1          1  0.742038          0.5    0.500000       0.336957
4          0          0  0.188908          0.0    0.299854       0.336957
5          0          0  0.188908          0.0    0.299854       0.389610
6          0          0  0.188908          0.0    0.000000       0.336957
7          0          0  0.188908          0.0    0.299854       0.336957
8          1          1  0.742038          1.0    0.299854       0.336957
9          1          1  0.742038          0.5    0.299854       0.553571
10         1          1  0.742038          1.0    0.500000       0.336957
11         1          1  0.742038          1.0    1.000000       0.336957
12         0          0  0.188908          0.0    0.299854       0.336957
13         0          0  0.188908          0.0    0.299854       0.336957
14         0          0  0.742038          0.0    0.299854       0.336957
15         1          1  0.742038          1.0    0.299854       0.336957
16         0          0  0.188908          0.0    0.299854       0.389610
17         1          1  0.188908          1.0    0.299854       0.336957
18         0          0  0.742038          0.0    0.299854       0.336957
19         1          1  0.742038          1.0    0.299854       0.553571

In [7]:
from sklearn.linear_model import LinearRegression
# 均值編碼 + 線性迴歸
data = pd.concat([df[:train_num], train_Y], axis=1)
for c in df.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
#data = data.drop(['Survived'] , axis=1)
data = data.drop(['Survived', 'Name_mean', 'Ticket_mean'] , axis=1)
estimator = LinearRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.4378028159706645
time : 0.02556300163269043 sec

In [8]:
# 均值編碼 + 羅吉斯迴歸
data = pd.concat([df[:train_num], train_Y], axis=1)
for c in df.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
data = data.drop(['Survived', 'Name_mean', 'Ticket_mean'] , axis=1)
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.8350366889413987
time : 0.03504824638366699 sec

In [9]:
from sklearn.ensemble import GradientBoostingRegressor
# 均值編碼 + 梯度提升樹
data = pd.concat([df[:train_num], train_Y], axis=1)
for c in df.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
#data = data.drop(['Survived'] , axis=1)
data = data.drop(['Survived', 'Name_mean', 'Ticket_mean'] , axis=1)
estimator = GradientBoostingRegressor()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.46379180505679257
time : 0.25071287155151367 sec